@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4" style="text-align:center;">The Joel Hilton Film Collection</h1>

<div class="text-center">
    <img src="~/img/joelhiltonheadshot.jpg" />
</div>

<div>
    <a asp-controller="Home" asp-action="Movies">View Movies Table</a>
</div>